<div class="new_game_div">
    <div class="figures_div">
        <img src="assets/icon-x.svg" alt="cross icon">
        <img src="assets/icon-o.svg" alt="circle icon">
    </div>
    <div class="options_div">
        <p class="options_paragraph">PICK PLAYER 1’S MARK</p>
        <div class="options_choose">
            <div class="option option_chosen" (click)="chooseOption($event)">
                <img src="assets/icon-x.svg" alt="cross icon" class="figure_image">
            </div>
            <div class="option" (click)="chooseOption($event)">
                <img src="assets/icon-o.svg" alt="circle icon" class="figure_image">
            </div>
        </div>
        <p class="rule_paragraph">REMEMBER : X GOES FIRST</p>
    </div>
    <div class="game_options_div">
        <button 
            id="CpuButton" 
            class="game_option_button" 
            routerLink="/game">
            NEW GAME (VS CPU)
        </button>
        <button 
            id="PlayerButton" 
            class="game_option_button" 
            routerLink="/game">
            NEW GAME  (VS PLAYER)
        </button>
    </div>
</div>

